@include rwd(desktop)
    .media
        margin: 0 auto 132px
        &__container
            @include flex(space-around)
            flex-wrap: wrap
            max-width: 1416px
            margin: 0 auto

        &__btn
            display: block
            min-width: 184px
            margin: 42px auto 0

    .post
        &__content
            max-width: 456px
        &__date
            @include fonts(Rubik, normal, normal, 14px, 17px )
            color: $text_black
            opacity: 64%
            margin: 18px 0 7px

        &__title
            @include fonts(Rubik, normal, normal, 18px, 22px )
            color: $agenda_bg
            margin: 0 0 24px
            & a
                color: inherit
                text-decoration: none

        &__excerpt
            @include fonts(Rubik, normal, normal, 16px, 24px )


